In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

READING DIABETES DATASET

In [2]:
s=pd.read_csv("diabetes.csv")

In [3]:
s

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
s.shape

(768, 9)

LENGTH OF DATASET(ROWS=768,COLUMNS=9)

In [5]:
s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

TO SEE THE DTYPE OF EACH COLUMNS

In [6]:
s.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

TO SEE FIRST 5 ROWS OF DATASET

In [7]:
s[s["Glucose"]==0].value_counts().count()

5

TO CHECKING 0 VALUES IN GLUCOSE(COLUMN)

In [8]:
round(s["Glucose"].agg(["mean","median"]))

mean      121.0
median    117.0
Name: Glucose, dtype: float64

CHECKING THE MEAN AND MEDIAN VALUES TO REPLACE 0 VALUE IN GLUCOSE(COLUMN)

In [9]:
s["Glucose"]=s["Glucose"].replace({0:117})

REPLACING 0 VALUE BY MEDIAN VALUE BECAUSE MEAN VALUE AND MEDIAN VALUE ARE CLOSE AND MEDIAN IS LESS

In [10]:
s

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [11]:
s[s["BloodPressure"]==0].value_counts().count()

35

CHECKING 0 VALUE IN BLOODPRESSURE(COLUMN)

In [12]:
round(s["BloodPressure"].agg(["mean","median"]))

mean      69.0
median    72.0
Name: BloodPressure, dtype: float64

CHECKING THE MEAN AND MEDIAN VALUES IN BLOODPRESSURE(COLUMN)

In [13]:
s["BloodPressure"]=s["BloodPressure"].replace({0:72})

REPLACING 0 VALUES WITH MEDIAN VALUE OF BLOODPRESSURE(COLUMN)

In [14]:
s

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [15]:
s[s["SkinThickness"]==0].value_counts().count()

227

CHECHING 0 VALUE IN SKIN THICKNESS(COLUMN)

In [16]:
round(s["SkinThickness"].agg(["mean","median"]))

mean      21.0
median    23.0
Name: SkinThickness, dtype: float64

CHECHING MEAN AND MEDIAN VALUE IN SKINTHICKNESS(COLUMN)

In [17]:
s["SkinThickness"]=s["SkinThickness"].replace({0:23})

REPLACEING 0 VALUE WITH MEDIAN VALUE SKINTHICKNESS(COLUMN)

In [18]:
s

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,23,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,23,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [19]:
s[s["Insulin"]==0].value_counts().count()

374

CHECKING 0 VALUE FROM INSULIN COLUMN

In [20]:
round(s["Insulin"].agg(["mean","median"]))

mean      80.0
median    30.0
Name: Insulin, dtype: float64

CHECKING MEAN AND MEDIAN VALUES FROM INSULIN COLUMN

In [21]:
s["Insulin"]=s["Insulin"].replace({0:30})

REPLACING 0 VALUE WITH THE MEAN VALUE BECAUSE OF THE LARGE DIFFERENCE BETWEEN MEAN VALUE FROM MEDIAN VALUE

In [22]:
s

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,30,33.6,0.627,50,1
1,1,85,66,29,30,26.6,0.351,31,0
2,8,183,64,23,30,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,30,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,23,30,30.1,0.349,47,1
767,1,93,70,31,30,30.4,0.315,23,0

In [23]:
s[s["BMI"]==0].value_counts().count()

11

CHECKING 0 VALUE IN BMI COLUMN

In [24]:
round(s["BMI"].agg(["mean","median"]))

mean      32.0
median    32.0
Name: BMI, dtype: float64

CHECKING THE MEAN AND MEDIAN VALUE OF BMI COLUMN

In [25]:
s["BMI"]=s["BMI"].replace({0:32})

REPLACING 0 VALUE WITH MEDIAN VALUE BECAUSE THEY IS NO DIFFERENCE BETWEEN MEAN AND MEDIAN VALUE

CHECKING (MIN AND MAX) AGE OF PREGNANCIES WOMEN

In [26]:
s.groupby(["Pregnancies"])["Age"].agg(["min","max"])

             min  max
Pregnancies
0             21   67
1             21   62
2             21   72
3             21   63
4             21   70
5             24   69
6             23   66
7             24   61
8             22   68
9             29   81
10            29   63
11            35   51
12            38   62
13            38   57
14            38   46
15            43   43
17            47   47

COUNTING THE PREGNANCIES WOMEN FROM THEY PREGNANCIES MONTH

In [27]:
s["Pregnancies"].value_counts()

1     135
0     111
2     103
3      75
4      68
5      57
6      50
7      45
8      38
9      28
10     24
11     11
13     10
12      9
14      2
15      1
17      1
Name: Pregnancies, dtype: int64

CHECKING ALL THE DIABETIC AND NON DIABETIC

In [54]:
s["Outcome"].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [55]:
y=s["Outcome"].value_counts()[0]
y

500

In [56]:
x=s["Outcome"].value_counts()[1]
x

268

CHECKING DIABETIC AND NON DIABETIC PREGNANCIES WOMEN AND THEY AGE

In [29]:
s.groupby(["Pregnancies","Age"])["Outcome"].value_counts()

Pregnancies  Age  Outcome
0            21   0          18
                  1           3
             22   0          13
                  1           4
             23   0           6
                             ..
13           57   0           1
14           38   1           1
             46   1           1
15           43   1           1
17           47   1           1
Name: Outcome, Length: 385, dtype: int64

CHECKING ALL THE DIABETIC AND THEY AGE

In [30]:
s[s["Outcome"]==1]["Age"].mean()

37.06716417910448

In [31]:
s[s["Outcome"]==0]["Age"].mean()

31.19

AVERAGE DIABETIC AND NON DIABETIC MEAN VALUES

In [32]:
s.groupby(["Outcome"]).mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,110.682000,70.920000,26.058000,82.952000,30.880200,0.429734,31.190000
1,4.865672,142.130597,75.123134,29.716418,115.783582,35.381343,0.550500,37.067164

In [33]:
s

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,30,33.6,0.627,50,1
1,1,85,66,29,30,26.6,0.351,31,0
2,8,183,64,23,30,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,30,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,23,30,30.1,0.349,47,1
767,1,93,70,31,30,30.4,0.315,23,0

TO CHECKING DIABETIC PREGNANCIES WOMEN IN DATASET

In [34]:
s[s["Outcome"]==1][["Pregnancies"]].value_counts().count()

17

DESCRIBING ALL THE COLUMNS WITH THE(MEAN,MAX,MIN,STD,COUNT,25%,50%,75%) VALUES

In [35]:
s.describe().T

,count,mean,std,min,25%,50%,75%,max
Pregnancies,768.0,3.845052,3.369578,0.000,1.00000,3.0000,6.00000,17.00
Glucose,768.0,121.656250,30.438286,44.000,99.75000,117.0000,140.25000,199.00
BloodPressure,768.0,72.386719,12.096642,24.000,64.00000,72.0000,80.00000,122.00
SkinThickness,768.0,27.334635,9.229014,7.000,23.00000,23.0000,32.00000,99.00
Insulin,768.0,94.408854,105.695978,14.000,30.00000,31.0000,127.25000,846.00
BMI,768.0,32.450911,6.875366,18.200,27.50000,32.0000,36.60000,67.10
DiabetesPedigreeFunction,768.0,0.471876,0.331329,0.078,0.24375,0.3725,0.62625,2.42
Age,768.0,33.240885,11.760232,21.000,24.00000,29.0000,41.00000,81.00
Outcome,768.0,0.348958,0.476951,0.000,0.00000,0.0000,1.00000,1.00

CHECKING ABOVE AVERAGE TIME PREGNANCIES AND THEY SKIN THICKNESS

In [36]:
s[s["Pregnancies"]>=3][["SkinThickness"]]

     SkinThickness
0               35
2               23
5               23
6               32
7               23
..             ...
759             23
761             31
762             23
763             48
765             23

[419 rows x 1 columns]

CHECKING BELOW AVERAGE TIME PREGNANCIES AND THEY SKIN THICKNESS

In [37]:
s[s["Pregnancies"]<3][["SkinThickness"]]

     SkinThickness
1               29
3               23
4               35
8               45
13              23
..             ...
758             23
760             26
764             27
766             23
767             31

[349 rows x 1 columns]

CHECKING DIABETIC OR NON DIABETIC PRAGNANCIES WOMEN AND THEY BLOODPRESSURE

In [38]:
s.groupby(["Pregnancies","Outcome"])["BloodPressure"].value_counts()

Pregnancies  Outcome  BloodPressure
0            0        64               9
                      80               7
                      68               6
                      76               5
                      60               4
                                      ..
13           1        114              1
14           1        62               1
                      78               1
15           1        70               1
17           1        72               1
Name: BloodPressure, Length: 388, dtype: int64

In [39]:
s

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,30,33.6,0.627,50,1
1,1,85,66,29,30,26.6,0.351,31,0
2,8,183,64,23,30,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,30,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,23,30,30.1,0.349,47,1
767,1,93,70,31,30,30.4,0.315,23,0

CHECKING DIABETIC OR NON DIABETIC PRAGNANCIES WOMEN AND THEY GLUCOSE

In [40]:
s.groupby(["Pregnancies","Outcome"])["Glucose"].value_counts()

Pregnancies  Outcome  Glucose
0            0        102        5
                      101        4
                      93         3
                      105        3
                      117        3
                                ..
13           1        158        1
14           1        100        1
                      175        1
15           1        136        1
17           1        163        1
Name: Glucose, Length: 593, dtype: int64

CHECKING THE MEAN AND MEDIAN BMI

In [41]:
s["BMI"].agg(["mean","median"])

mean      32.450911
median    32.000000
Name: BMI, dtype: float64

HOW MANY PREGNANCY WOMEN ARE EQUAL AND ABOVE THE AVERAGE BMI

In [42]:
s[s["BMI"]>=32]["Pregnancies"].value_counts()

0     74
1     64
2     45
4     35
5     35
3     31
7     27
6     22
8     22
9     14
10    13
11     9
13     7
12     4
14     2
15     1
17     1
Name: Pregnancies, dtype: int64

HOW MANY PREGNANCY WOMEN ARE BELOW THE AVERAGE BMI

In [43]:
s[s["BMI"]<32]["Pregnancies"].value_counts()

1     71
2     58
3     44
0     37
4     33
6     28
5     22
7     18
8     16
9     14
10    11
12     5
13     3
11     2
Name: Pregnancies, dtype: int64

CHECKING PREGNANCIES WOMEN ARE DIABETIC AND THEY AVERAGE BMI

In [44]:
s.groupby(["Pregnancies","Outcome"])["BMI"].mean()

Pregnancies  Outcome
0            0          33.042466
             1          39.213158
1            0          29.616038
             1          37.793103
2            0          30.441667
             1          34.578947
3            0          29.897917
             1          32.548148
4            0          31.255556
             1          33.873913
5            0          31.988889
             1          36.780952
6            0          30.532353
             1          31.775000
7            0          31.575000
             1          34.756000
8            0          30.693750
             1          33.659091
9            0          28.840000
             1          33.300000
10           0          30.114286
             1          34.580000
11           0          37.125000
             1          39.385714
12           0          30.560000
             1          34.575000
13           0          33.280000
             1          36.720000
14           1          35.100000
15           1          37.100000
17           1          40.900000
Name: BMI, dtype: float64