Q15. Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers. 
Suppose the input is supplied to the program: 1,2,3,4,5,6,7,8,9 
Then, the output should be: 1, 3, 5, 7, 9

In [7]:
l=[1,2,3,4,5,6,7,8,9]
for i in l:
    if i%2!=0:
        print(i,end=",")

1,3,5,7,9,

Q16. Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following: 
D 100 
W 200 
--D means deposit while W means withdrawal. 
Suppose the input is supplied to the program: 


D 300
D 300 
D 100 
W 200
Then, the output should be: 500

In [17]:
d=input("").split()
s=0
l=[]
for i in d:
    l.append(i)
l
for j in l:
    j=int(j)
    s=s+j
print("TOTAL DEPOSITE AMOUNT",s)
w=input("").split()
c=0
l1=[]
for a in w:
    l1.append(a)
l1
for b in l1:
    b=int(b)
    c=c+b
print("TOTAL WITHDRAWAL AMOUNT",c)
total=s-c
print("TOTAL AMOUNT REMAINING",total)

300 300 100
TOTAL DEPOSITE AMOUNT 700
200
TOTAL WITHDRAWAL AMOUNT 200
TOTAL AMOUNT REMAINING 500